
p {
        font-family: "Lobster Two";
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        color: #9eb384;
        text-align: center;
        line-height: 35px;
    }

h1 {
        justify-content: center;
        text-align: left;
        /* padding-top: 275px; */
        font-family: "Montserrat", sans-serif;
        color: green
    }

body {
        font-family: "Playfair Display", "serif";
        color: grey;
    }    

form {
        color: rgb(161, 151, 151);
    }

#contact {
    color: #1b0b1f;
    width: auto;
}

input {
    width: 50%;
    color: red;
  }

.shadow-img {
    box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.35);
    border-width: 20px;
}

